<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Luke Waltzer</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Luke Waltzer</li><li><a class="u-email" href="mailto:lwaltzer@gmail.com">lwaltzer@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/lwaltzer"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">lwaltzer</span></a></li>
          <li><a href="https://www.twitter.com/lwaltzer"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">lwaltzer</span></a></li>
          <li><a href="https://hcommons.social/@lukewaltzer"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#mastodon"></use></svg><span class="username">lukewaltzer</span></a></li>
        </ul>
</div>

      <div class="footer-col footer-col-3">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      </div>
    </div>

  </div>

</footer>
