---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 2px dotted #e8e8e8;
}

.site-title {
      font-size: 36px;
      font-weight: 400;
    }

.post-title {
    font-size: 26px;
  }

.img {
      padding-left: 100px;
      padding-bottom: 100px;
  }

img[src*='#center'] {
    display: block;
    margin: auto;
    }

span.caption {
    font-size: 80%;
    font-style: italic;
    display: flex;
    justify-content: center }

.footer-col-2 li {
  list-style-type: none;
}

.footer-col-2 ul {
  margin-bottom: 0;
}

.footer-col-3 p {
  margin-bottom: 0;
}
